<h1>Species List</h1>

<ul>
  <% @species.each do |animal| %>
    <li><a href="/species/<%= animal.id %>"><%= animal.name.capitalize %></a>
    </li>

  <% end %>
</ul>

<p><a href="/species/new">Add a new species</a></p>

<p><a href="/locations">Go to Location Page</a></p>
